*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body{
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          position: relative;
          transform: scale(1);
          transition: 0.5s transform;
}

.header.active{
          transform: scale(0);
}

ul li{
      list-style-type: none;
      display: block;
}

ul li a{
          text-decoration: none;
          display: inline-block;
          font-size: 60px;
          padding: 20px 0px;
          text-transform: uppercase;
          font-weight: 500;
          color: black;
          position: relative;
}

/* before and after */


ul li a::before{
          content: "";
          position: absolute;
          width: 100%;
          height: 10px;
          background: lime;
          top: 50%;
          left: 0;
          transform: translateY(-50%) scale(0);
          transform-origin: right;
          transition: 0.5s transform;
}

ul li a:hover::before{
          transform: translateY(-50%) scale(1);
          transform-origin: left;
          transition: 0.5s transform;
}

#navButton{
          position: absolute;
          width: 50px;
          height: 50px;
          background: rgb(255, 255, 255) url(./image/close.png);
          top: 50px;
          right: 50px;
          cursor: pointer;
          z-index: 10;
          transition: 0.5s;

}

#navButton.openClose{
          background: url(./image/open.png);
}

